<div class="section-wrapper">
  <section class="section about" id="about">
    <div id="about-text">
      <div class="section-heading">About</div>
      <p class="paragraph-text justify-text">
        I’m Lauriane Teyssier, a data scientist with a dual Master’s in Engineering from CentraleSupélec and Artificial Intelligence from Tsinghua University.
        I specialize in solving complex optimization challenges by combining mathematical rigor with cutting-edge AI methodologies.
      </p>
      <p class="paragraph-text justify-text">
        My background includes applied AI research, reinforcement learning algorithm design, and end-to-end development of machine learning solutions.
        I have led
        and contributed to both academic and industrial initiatives—ranging from SaaS platform integration to research contribution in reinforcement learning.
      </p>
      <p class="paragraph-text justify-text">
        I bring a collaborative, cross-disciplinary approach, with fluency in French, English, and German, and basic knowledge of Chinese.
        I am driven by the opportunity to translate deep technical insights into tangible outcomes and am committed to building responsible, high-impact AI systems within innovative and forward-thinking teams.
      </p>
    </div>
  </section>
</div>
